

<h2 class="my-2"><%=@list.name %></h2>

<p class="btn btn-ghost"> <%= link_to "back to list's list",  root_path %></p>



<div class="cards my-2 mb-3" >
  <% @list.bookmarks.each do |bookmark| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= bookmark.movie.poster_url %>)">
    <p><%= bookmark.movie.title %> </p><br>
  </div>
<% end %>
</div>


<p class="btn btn-ghost"> <%= link_to "add bookmarks",  new_list_bookmark_path(@list) %></p>

<%= link_to "Delete",
  root_path(@list),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
